.gear-container {
  display: flex;
  height: 100%;
}

.gear {
  position: relative;
  width: 42px;
  height: 42px;
  margin: auto;
  background-color: transparent;
  border: 3px solid rgb(161, 18, 18);
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 27s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.tooth {
  position: absolute;
  top: -7px;
  left: 15px;
  z-index: 1;
  width: 5px;
  height: 50px;
  background: transparent;
  border-top: 5px solid rgb(161, 18, 18);
  border-bottom: 5px solid rgb(161, 18, 18);
}

.tooth:nth-child(2) {
  transform: rotate(30deg);
}

.tooth:nth-child(3) {
  transform: rotate(60deg);
}

.tooth:nth-child(4) {
  transform: rotate(90deg);
}
.tooth:nth-child(5) {
  transform: rotate(120deg);
}
.tooth:nth-child(6) {
  transform: rotate(150deg);
}

.tooth:nth-child(7) {
  transform: rotate(180deg);
}

.tooth:nth-child(8) {
  transform: rotate(210deg);
}
.tooth:nth-child(9) {
  transform: rotate(240deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
