.portfolio {
  position: relative;
  display: block;
}

.portfolio-container {
  position: relative;
  top: -75px;
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  justify-content: space-around;
  background-color: transparent;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .portfolio-container {
    flex-flow: column nowrap;
  }
}

@media only screen and (max-width: 405px) {
  .portfolio-container {
    top: -50px;
  }
}
