* {
  box-sizing: border-box;
  font-family: "Lato", "Ubuntu", sans-serif;
  /* font-family: "Ubuntu", sans-serif; */
}

.App {
  position: relative;
  display: block;
  width: 100%;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}
